*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: url(../pictures/beach.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #126D8A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@font-face {
    font-family: gameFont;
    src: url("../css/game-font.utf");
}

.bg-img {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;   
   

    object-fit: contain;
    object-position: center;
    z-index: -1;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    text-align: center;
    width: 100%;
//    background: rgba(0,0,0,0.4);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

#lan {
    width: 50%;
    padding: 10px 5px 0 0;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
}

#lan-child{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    grid-row-gap: 10px;
    align-items: center;
}

#home-icon{
    max-width: 30%;
    max-height: 30%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0.5;
}

#home-icon:hover{
    opacity: 1.0;
}

#home{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 0 0 20px;
}
 select{
     max-width: 60%;
 }

p {
    color: #C7C55B;
    text-align:center;
    margin-top:0;
    padding-top: 0;
}

h1 {
    color: #C7C55B;
    text-align: center;
}
 
#note{
    position: relative;
    align-items: center;
    justify-content:center;
    
}

@media (max-width: 768px){
    body {
        background-attachment: scroll;
        background-position: bottom;
    }
    
    
    .content{
        width: 100%;
        
    }
}


